html, body, .layui-layout, .content-wrapper {
    height: 100%;
}

.content-wrapper {
    padding-left: 200px;
}

.content-wrapper iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

.form-body {
    width: 60%;
    min-width: 600px;
    height: auto;
    min-height: 800px;
    vertical-align: center;
    margin: 0 auto;
}

.time-span {
    float: left;
    margin: 5px 5px 0
}

.time-input {
    width: 60px;
    height: 30px;
    float: left
}